.background {
    background-color: #201b25;
    margin: -0.5vw;

}

html {
    scroll-behavior: smooth;
}

.Animation {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.BlurBG {
    position: fixed;
    width: 100%;
    padding: 2.5% 0% 0% 0%;
    backdrop-filter: blur(7px);
}

.NavBar {
    padding: 1%;
    background-image: radial-gradient(#631fa8, #451378);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #f5e1ff;
    padding-left: 10%;
}


.NavBar>div {
    display: flex;
}

.NavBar>div>.name {
    vertical-align: middle;
    padding: 0% 30% 0% 10%;
    font-weight: 500;
    font-size: 3vw;
    text-shadow: 0.2vw 0.2vw 1vw black
}

.NavBar>div>div>a {
    padding-left: 4vw;
    vertical-align: middle;
    text-shadow: 0.2vw 0.2vw 1vw black
}

.content>div {
    color: #f5e1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-Shadow: 0.2vw 0.2vw 0.5vw #631fa8;

}

.Aboutme {
    padding: 15% 15% 15% 15%;
}

.Abirami {
    font-size: 4vw;
    padding-left: 10%;

}

.description {
    font-size: 1.5vw;
    padding-top: 3%;
    padding-left: 10%;
    width: 70%
}



button {
    font-weight: 100;
    margin-left: 10%;
    color: #f5e1ff;
    font-size: 1.5vw;
    padding: 1.5%;
    border: transparent;
    border-radius: 0.9vw;
    background-image: radial-gradient(#631fa8, #451378);
    ;

}

hr {
    border: transparent;
    box-shadow: 0vw 0.5vw 1vw 0.5vw #8b2ee747;
    margin: 0%;
}

.Skills,
.Projects,
.Contactme {
    padding: 7% 7% 7% 15%;

}

.Projects {
    color: #f5e1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-Shadow: 0.2vw 0.2vw 0.5vw #631fa8;
}

.Contactme {
    color: #f5e1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-Shadow: 0.2vw 0.2vw 0.5vw #631fa8;
}

.Header {
    font-size: 3vw;
    padding: 0% 0% 4% 0%;
}

.logos {
    padding-top: 2%;

}

.logos>img {
    padding: 3%;
}

.SubHeader {
    font-size: 2vw;
}

.Projects>p>a {
    text-decoration: underline;
}

.Contactme>.flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.Contactme>.flex>div {
    padding: 0% 10% 0% 5%;
}

a {
    text-align: justify;
    text-decoration: none;
    color: #f5e1ff;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width:600px) {
    .background {
        background-color: #201b25;
        margin: -3vw;

    }

    .NavBar {
        padding: 1%;
        background-image: radial-gradient(#641fa800, #46137800);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: #f5e1ff;
        padding-left: 10%;
    }

    .content>div {
        color: #f5e1ff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        text-Shadow: 0.2vw 0.2vw 0.5vw #631fa8;

    }

    .NavBar>div {
        display: grid;
    }

    .NavBar>div>.name {
        padding: 0% 15% 0% 5%;
        font-weight: 600;
        text-shadow: 0.2vw 0.2vw 1vw rgba(255, 255, 255, 0.175);
        font-size: 9vw;
        vertical-align: middle;
        text-align: center;
        color: #942ffa;
    }

    .NavBar>div>div>a {
        padding: 10% 3% 0% 7%;
        vertical-align: middle;
        text-shadow: 0.2vw 0.2vw 1vw black
    }

    .BlurBG {
        position: fixed;
        width: 100%;
        padding: 5% 0% 4% 0%;
        backdrop-filter: blur(7px);
    }

    .Aboutme {
        padding-left: 10%;
    }

    .Abirami {
        font-size: 7vw;
        padding: 35% 0% 0% 10%;

    }

    .description {
        font-size: 5vw;
        padding-top: 5%;
        padding-left: 10%;
        width: 90%
    }

    button {
        font-weight: 100;
        margin-left: 10%;
        color: #f5e1ff;
        font-size: 5vw;
        padding: 3%;
        border: transparent;
        border-radius: 2vw;
        background-image: radial-gradient(#631fa8, #451378);

    }

    hr {
        border: transparent;
        box-shadow: 0vw 0.5vw 1vw 0.5vw #8b2ee747;
        margin: 0%;
    }

    .Skills,
    .Projects,
    .Contactme {
        padding: 10% 10% 10% 15%;

    }

    .Header {
        font-size: 8vw;
        padding: 0% 0% 4% 0%;
    }

    .logos {
        padding-top: 2%;

    }

    .logos>img {
        padding: 3%;
        width: 20%;
    }

    .SubHeader {
        font-size: 6vw;
    }

    .Projects>p>a {
        text-decoration: underline;
    }

    .Contactme>.flex {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .Contactme>.flex>.Header {
        font-size: 6vw;
    }

    .Contactme>.flex>div {
        padding: 0% 3% 0% 0%;
        width: 25%;
    }

    .Contactme>.flex>div>a>img {
        width: 60%;
    }

    a {
        text-align: justify;
        text-decoration: none;
        color: #f5e1ff;

    }

}